/*  Word-Guess-Game index.html */

html {
    background-color: black;
}

main {
    background-color: black;   
}


nav {
    background-color: black;
}

.card {
    left: 0 auto;
}

section {
    text-align: center;
    color: white;
}

.message1 {
    color: white;
}
