/*  Word-Guess-Game index.html */

html {
    background-color: black;
}

main {
    background-color: black;   
}


nav {
    background-color: black;
}

.card {
    left: 0 auto;
}

section {
    text-align: center;
    color: white;
}

.message1 {
    color: white;
}

#song-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #e83e8c;
    font-style: italic;
    font-size: 4rem;
}

#pic-text {
    width: 100%; 
    height: auto;
}
